Cloakroom
[
    {
        "id": "6de85020.aa5ac",
        "type": "subflow",
        "name": "Hive logoff",
        "info": "Requires msg.this_session to be the value returned when logging on to Hive.",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "b05b37b7.314988"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 60,
                "wires": [
                    {
                        "id": "650ece90.69d438",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "b05b37b7.314988",
        "type": "function",
        "z": "6de85020.aa5ac",
        "name": "Set Hive header & URL for Logout",
        "func": "msg.headers = {\n      'Content-Type' : 'application/vnd.alertme.zoo-6.1+json',\n      'Accept' : 'application/vnd.alertme.zoo-6.1+json',\n      'X-Omnia-Client' : 'Hive Web Dashboard',\n      'X-Omnia-Access-Token' : msg.this_session\n}\n\nmsg.url = \"https://api-prod.bgchprod.info/omnia/auth/sessions/\"+msg.this_session\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "650ece90.69d438"
            ]
        ]
    },
    {
        "id": "650ece90.69d438",
        "type": "http request",
        "z": "6de85020.aa5ac",
        "name": "Logout from Hive",
        "method": "DELETE",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 490,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1acbb668.66687a",
        "type": "subflow",
        "name": "Load config",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "2ff9259b.34c61a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 60,
                "wires": [
                    {
                        "id": "c2b53204.629738",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "2ff9259b.34c61a",
        "type": "change",
        "z": "1acbb668.66687a",
        "name": "Set DB query",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5c3c86cb44ba4c2d74ac88928de9d20e",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "d611f6d4.8e4808"
            ]
        ]
    },
    {
        "id": "d611f6d4.8e4808",
        "type": "cloudant in",
        "z": "1acbb668.66687a",
        "name": "Load data",
        "cloudant": "",
        "database": "hive",
        "service": "AutoHome-cloudantNoSQLDB",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "c2b53204.629738"
            ]
        ]
    },
    {
        "id": "c2b53204.629738",
        "type": "change",
        "z": "1acbb668.66687a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "cloudant",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fce82eda.dc458",
        "type": "subflow",
        "name": "Hive logon",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "76b24098.d6f068"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 160,
                "wires": [
                    {
                        "id": "fe8b977e.8a674",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "76b24098.d6f068",
        "type": "function",
        "z": "fce82eda.dc458",
        "name": "Set Hive request header",
        "func": "msg.headers = {\n      'Content-Type' : 'application/vnd.alertme.zoo-6.1+json',\n      'Accept' : 'application/vnd.alertme.zoo-6.1+json',\n      'X-Omnia-Client' : 'Hive Web Dashboard'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "4a95ca41.34726c"
            ]
        ]
    },
    {
        "id": "16c7c235.a82566",
        "type": "function",
        "z": "fce82eda.dc458",
        "name": "Set Hive username and password",
        "func": "msg.payload = JSON.stringify({\n      sessions: [\n                  { username: msg.config.username,\n                    password: msg.config.password,\n                    caller: \"WEB\" \n                  }\n                ]  \n    }\n)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "fe8b977e.8a674"
            ]
        ]
    },
    {
        "id": "fe8b977e.8a674",
        "type": "http request",
        "z": "fce82eda.dc458",
        "name": "Login to Hive",
        "method": "POST",
        "ret": "obj",
        "url": "https://api-prod.bgchprod.info/omnia/auth/sessions",
        "tls": "",
        "x": 470,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4a95ca41.34726c",
        "type": "subflow:1acbb668.66687a",
        "z": "fce82eda.dc458",
        "name": "",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "16c7c235.a82566"
            ]
        ]
    },
    {
        "id": "d0e2bd7a.837e98",
        "type": "function",
        "z": "41a9ef12.64ea9",
        "name": "Prepare tweet",
        "func": "if (msg.node_state == \"ON\"){\n    msg.payload = \"Switched \" + msg.node_name + \" ON \" + msg.node_brightness + \"%\\n\" + msg.timestamp;\n}\nelse{\n    msg.payload = \"Switched \" + msg.node_name + \" OFF\\n\" + msg.timestamp;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "5c41dfa.7c9f72"
            ]
        ]
    },
    {
        "id": "cbe9e86b.757348",
        "type": "inject",
        "z": "41a9ef12.64ea9",
        "name": "GO",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "45e81bc5.1aecf4"
            ]
        ]
    },
    {
        "id": "481e53a8.b028b4",
        "type": "switch",
        "z": "41a9ef12.64ea9",
        "name": "Logged In?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 570,
        "y": 60,
        "wires": [
            [
                "6e4c12fd.80ab6c"
            ],
            [
                "48a351e5.41e8b"
            ]
        ],
        "outputLabels": [
            "no",
            "yes"
        ]
    },
    {
        "id": "48a351e5.41e8b",
        "type": "function",
        "z": "41a9ef12.64ea9",
        "name": "Set Hive header & URL",
        "func": "if (msg.payload.sessions !== undefined){\n    \n    //save the session out to the msg so we can use it later on\n    msg.this_session = msg.payload.sessions[0].id;\n    \n    msg.url = \"https://api-prod.bgchprod.info/omnia/nodes\";\n\n    msg.headers = {\n      'Content-Type' : 'application/vnd.alertme.zoo-6.1+json',\n      'Accept' : 'application/vnd.alertme.zoo-6.1+json',\n      'X-Omnia-Client' : 'Hive Web Dashboard',\n      'X-Omnia-Access-Token' : msg.this_session\n    }\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": "1",
        "noerr": 0,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "ab7b466b.e40c1"
            ]
        ]
    },
    {
        "id": "ab7b466b.e40c1",
        "type": "http request",
        "z": "41a9ef12.64ea9",
        "name": "Get all Hive nodes",
        "method": "GET",
        "ret": "obj",
        "url": "https://api-prod.bgchprod.info/omnia/nodes",
        "tls": "",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "96f6a4d4.03e568"
            ]
        ]
    },
    {
        "id": "96f6a4d4.03e568",
        "type": "function",
        "z": "41a9ef12.64ea9",
        "name": "Find node",
        "func": "if(msg.payload.nodes !== undefined){\n    \n    var nodes = msg.payload.nodes;\n    \n    for (var n in nodes){\n        \n        var attribs = nodes[n].attributes;\n        \n        if(nodes[n].name == msg.node_name){\n            msg.node_id = nodes[n].id;\n            msg.node_state = nodes[n].attributes.state.reportedValue;\n        }\n    }    \n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "810da76b.8bbd6"
            ]
        ]
    },
    {
        "id": "810da76b.8bbd6",
        "type": "switch",
        "z": "41a9ef12.64ea9",
        "name": "Found node?",
        "property": "node_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "28f38602.ec4ab2"
            ],
            [
                "7655db22.f6d93c"
            ]
        ],
        "outputLabels": [
            "no",
            "yes"
        ]
    },
    {
        "id": "7655db22.f6d93c",
        "type": "function",
        "z": "41a9ef12.64ea9",
        "name": "Set Hive message & URL",
        "func": "msg.headers = {\n  'Content-Type' : 'application/vnd.alertme.zoo-6.1+json',\n  'Accept' : 'application/vnd.alertme.zoo-6.1+json',\n  'X-Omnia-Client' : 'Hive Web Dashboard',\n  'X-Omnia-Access-Token' : msg.this_session\n}\n\nmsg.url = \"https://api-prod.bgchprod.info/omnia/nodes/\"+msg.node_id;\n\nif (msg.node_state == \"ON\"){\n    msg.node_state = \"OFF\";\n}\nelse{\n    msg.node_state = \"ON\";\n}\n\nmsg.payload = {\n    nodes:[{\n        attributes : {\n            state: {targetValue: msg.node_state},\n            brightness: {targetValue: msg.node_brightness}\n        }\n    }]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "2a547395.e25e4c"
            ]
        ]
    },
    {
        "id": "2a547395.e25e4c",
        "type": "http request",
        "z": "41a9ef12.64ea9",
        "name": "Update Hive node",
        "method": "PUT",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "d0e2bd7a.837e98",
                "fec2966f.390c78"
            ]
        ]
    },
    {
        "id": "5c41dfa.7c9f72",
        "type": "twitter out",
        "z": "41a9ef12.64ea9",
        "twitter": "",
        "name": "Tweet",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "9d642737.644118",
        "type": "twitter out",
        "z": "41a9ef12.64ea9",
        "twitter": "",
        "name": "Tweet",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "5af0bfbb.fb43f8",
        "type": "twitter out",
        "z": "41a9ef12.64ea9",
        "twitter": "",
        "name": "Tweet",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "28f38602.ec4ab2",
        "type": "function",
        "z": "41a9ef12.64ea9",
        "name": "Prepare tweet",
        "func": "msg.payload = \"Could not find node \\\"\" + msg.node_name + \"\\\"\\n\" + msg.timestamp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "5af0bfbb.fb43f8",
                "f1e0aedf.73d24"
            ]
        ]
    },
    {
        "id": "6e4c12fd.80ab6c",
        "type": "function",
        "z": "41a9ef12.64ea9",
        "name": "Prepare tweet",
        "func": "msg.payload = \"Failed to log on to Hive.\\n\" + msg.timestamp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 40,
        "wires": [
            [
                "9d642737.644118"
            ]
        ]
    },
    {
        "id": "45e81bc5.1aecf4",
        "type": "function",
        "z": "41a9ef12.64ea9",
        "name": "Set parameters",
        "func": "msg.timestamp = new Date();\n\nmsg.node_name = \"Cloakroom\";\nmsg.node_brightness = 100;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "62c6f559.549b74"
            ]
        ]
    },
    {
        "id": "62c6f559.549b74",
        "type": "subflow:fce82eda.dc458",
        "z": "41a9ef12.64ea9",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "481e53a8.b028b4"
            ]
        ]
    },
    {
        "id": "fec2966f.390c78",
        "type": "subflow:6de85020.aa5ac",
        "z": "41a9ef12.64ea9",
        "x": 680,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f1e0aedf.73d24",
        "type": "subflow:6de85020.aa5ac",
        "z": "41a9ef12.64ea9",
        "x": 720,
        "y": 280,
        "wires": [
            []
        ]
    }
]
